<article class="hero">
  <header>
    <hgroup>
      <h1>{{ .heading | safeHTML }}</h1>
      <p>{{ .subheading | safeHTML }}</p>
    </hgroup>
  </header>
  <figure>
  <img alt="{{ .image.alt }}" src="{{ .image.src | relURL }}"/>
</figure>
</article>
