<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ partial "favicon" . }}
    <title>{{ site.Title }}</title>
    {{ partial "css" . }}
    <script src="{{ site.Params.alpineJSURL }}" defer></script>
  </head>
  <body>
    <header>
      {{ block "header" . }}
        {{ partial "top-nav" . }}
      {{ end }}
    </header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ block "footer" . }}{{ partial "footer" . }}{{ end }}</footer>
  </body>
</html>
